.popup__icon {
    transform: rotate(-45deg);
    object-fit: contain;
    position: absolute;
    top: -14px;
    left: -10px;
}
.popup__icon:hover {
    opacity: 0.6;
    transition: 0.3s;
}
@media all and (max-width: 600px) {
    .popup__icon {
        max-width: 26px;
        top: -10%;
    }
}