.header {
    max-width: 100%;
    margin: 45px auto 0;
    opacity: 0.7;
    border-bottom: 1px solid #545454;
}
@media all and (max-width: 425px) {
    .header {
        margin: 28px auto 0;
    }
}