.popup__close-btn {
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: -12%;
    right: -9%;
    transform: rotate(-45deg);
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}
@media all and (max-width: 600px) {
    .popup__close-btn {
        max-width: 26px;
        height: 26px;
        right: 0%;
    }
}
