.photo-element__icon {
    padding: 0;
    width: 22px;
    height: 19px;
    margin-right: 30px;
}
.photo-element__icon::before {
    content: url(../../../images/heart.svg);
    cursor: pointer;
}
.photo-element__icon:hover{
    opacity: 0.5;
    transition: 0.3s;
}
.photo-element__icon:active{
    content: url(../../../images/heart-active.svg);
}