.popup__item {
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

@media all and (max-width: 600px) {
    .popup__item {
        width: 238px;
        height: 27px;
        margin: 0 22px 30px;
    }
}