.photo-element__like {
    padding: 0;
    width: 22px;
    height: 19px;
    margin-right: 30px;
}
.photo-element__like::before {
    content: url(../../../images/heart.svg);
    cursor: pointer;
}
.photo-element__like:hover{
    opacity: 0.5;
    transition: 0.3s;
}